body, h1, h2, p, ul {
    margin: 1;
    padding: 1;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    background-color: rgb(238, 182, 119);
    color: red;
}


header {
    background-color: rgb(224, 11, 11);
    color: pink;
    padding: 10px 0;
    text-align: center;
}

header h1 {
    margin-bottom: 10px;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav a {
    color:orange;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}


main {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
}

section {
    margin-bottom: 20px;
}

h2 {
    color: green;
}


footer {
    background-color: grey;
    color: darkgreen;
    text-align: center;
    padding: 10px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}